{%load static%}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">YMON list</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <!-- <th>Category</th> -->
                            <th>Material</th>
                            <th>Description</th>
                            <th>TypeDescription</th>
                            <th>Hierarchy</th>
                            <th>Con0015</th>
                            <th>Con0360</th>
                            <th>Con3M</th>
                            <th>Con12M</th>
                            <th>Stock</th>
                            <th>Order</th>
                            <th>Incoming</th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for item in TableData %}
                         <tr>
                            <!-- <td>{{ item.Category }}</td> -->

                            <!-- <a href="#", onclick="javascript:graph({{ item.Material}})"> -->
                                <td id={{ item.Material}}  >

                                    {{ item.Material}}
                                </td>
                            <!-- </a> -->

                            <td id={{ item.Material}}  >
                                {{ item.Description }}
                            </td>
                            <td id={{ item.Material}}  >
                                {{ item.TypeDescription }}
                            </td>
                            <td id={{ item.Material}}  >
                                {{ item.Hierarchy }}
                            </td>
                            <td id={{ item.Material}}  >
                                {{ item.Con0015 }}
                            </td>
                            <td id={{ item.Material}}  >
                                {{ item.Con0360 }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!--div class=col-md-8-->
        <div class="col-md-4">
          <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Consumption</strong>
                    </div>
                    <div class="card-body">
                      <div id="barChartContainer2" style="height: 300px; width: 100%;"></div>
                    </div>
          </div>
        </div>
        </div> <!--div class="row"-->


    </div><!-- .animated -->
</div><!-- .content -->



<script type="text/javascript" src="{% static 'assets/js/barchart2.js' %}"></script>


<script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script>


<!-- <script type="text/javascript"> -->
        <!-- $(document).ready(function() { -->
          <!-- $('#bootstrap-data-table-export').DataTable();          -->
        <!-- }); -->
<!-- </script> -->
