
{%load static%}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<style type="text/css" class="init">
    td.details-control {

        background: url('https://github.com/DataTables/DataTables/blob/master/examples/resources/details_close.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('https://github.com/DataTables/DataTables/blob/master/examples/resources/details_close.png') no-repeat center center;
    }
</style>

<table id="example" class="display">
<!-- <table id="example" class="display" style="width:100%"> -->
        <thead>
            <tr>
                <th></th>
                <th>PN</th>
                <th>Description</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Incoming</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
         {% for item in ymon %}
         <tr>
           <td class='details-control'>
           </td>
            <td id={{ item.Material}}  >
                {{ item.ycp4.Material}}
            </td>
            <td id={{ item.Material}}  >
                {{ item.ycp4.Description }}
            </td>
            <td>
              {{ item.ycp4.Status }}
            </td>
            <td id={{ item.Material}}  >
                {{ item.ycp4.Stock }}
            </td>
            <td id={{ item.Material}}  >
                {{ item.ycp4.Incoming }}
            </td>
            <td id={{ item.Material}}  >
                {{ item.ycp4.Order }}
            </td>

        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th></th>
              <th>PN</th>
              <th>Description</th>
              <th>Status</th>
              <th>Stock</th>
              <th>Incoming</th>
              <th>Order</th>
            </tr>
        </tfoot>
    </table>

<script>
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+'{{ item.ycp4.Material}}'+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+d.Material+'</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
    // var table = $('#example').DataTable( {
    //     // "ajax": "../ajax/data/objects.txt",
    //     "ajax": "tab2",
    //     "columns": [
    //         {
    //             "className":      'details-control',
    //             "orderable":      false,
    //             "data":           null,
    //             "defaultContent": ''
    //         },
    //         { "data": "Material" },
    //         { "data": "Description" },
    //         { "data": "Status" },
    //         { "data": "Stock" },
    //         { "data": "Incoming"},
    //         { "data": "Order" },
    //     ],
    //     "order": [[1, 'asc']]
    // } );

    // Add event listener for opening and closing details
    var table = $('#example').DataTable({
        lengthMenu: [[5,10, 20, 50, -1], [5,10, 20, 50, "All"]],
    });

    $('#example').on('click', 'td.details-control', function () {
        console.log("clicked");
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>
