{%load static%}

        <div class="row">
          <div class="col-md-8"> </div>
          <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Material Description</strong>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Con3M</th>
                            <th scope="col">Con12M</th>
                            <th scope="col">Incoming</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% for item in ycp4data %}
                            <th scope="row">1</th>
                            <td>{{item.Con3M}}</td>
                            <td>{{item.Con12M}}</td>
                            <td>{{item.Incoming}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> <!-- end of Row-->
