{%load static %}
{#% load mathfilters %#}


        <div class="row">
            <div class="col-12">
                {% include 'procurement/approvalPlanDetail.html' %}
                {% include 'procurement/approvalPlanTable.html' %}
            </div>
        </div>

        <strong><h4>Details</h4></strong>
        <div class="row">
            <div class="col-12">
                {% include 'procurement/approvalPlanDetailSupplier1.html' %}
                {% include 'procurement/approvalPlanDetailSupplier2.html' %}
                {% include 'procurement/approvalPlanDetailSupplier3.html' %}
                {% include 'procurement/approvalPlanDetailSupplier4.html' %}
                {% include 'procurement/approvalPlanDetailSupplier5.html' %}
                {% include 'procurement/approvalPlanDetailSupplier6.html' %}
                {% include 'procurement/approvalPlanDetailSupplier7.html' %}
                {% include 'procurement/approvalPlanDetailSupplier8.html' %}
            </div>
        </div>


<!-- Modal -->

<script src="{% static 'assets/js/scm/approvalPlanDetail.js' %}"></script>
