<!-- TO BE DISREGARDED -->

{% load static%}
<div class="card-body card-block">
                <div class="row form-group">
                  <div class="col-1">
                    <label for="text-input" class=" form-control-label"  >SA No.</label>
                    <input type="text" id="text-input" name="SA_No" value="{{ Assay.SA_No}}"  class=" form-control-sm form-control">
                  </div>

                  <div class="col-1">
                    <label for="text-input" class=" form-control-label">Type</label>
                    <input type="text" id="text-input" name="Type"
                    {% ifnotequal Assay.Type 'nan' %}
                      value="{{ Assay.Type}}"
                    {% endifnotequal %}
                     class="form-control query form-control-sm"></div>

                  <div class="col-1">
                    <label for="text-input" class=" form-control-label">Delivery Time</label>
                    <input type="text" id="text-input" name="Date"   value="{{ Assay.Date}}"  class="form-control query form-control-sm">
                  </div>


                  <div class="col-1">
                    <label for="text-input" class="form-control-label">Supplier No</label>
                    <input type="text" id="text-input" name="Number_of_suppliers"  value="{{Assay.Number_of_suppliers}}"  class="form-control query form-control-sm">
                  </div>


                </div>



                <div class="row form-group">
                  <div class="col-4">
                  <label for="textarea-input" class=" form-control-label">DESCRIPTION</label>
                  <textarea name="textarea-input" id="textarea-input" rows="4" placeholder="Content..." class="form-control"></textarea>
                </div>
              <!-- </div>

              <div class="row form-group"> -->

                  <div class="col-4">
                    <label for="text-input" class=" form-control-label">Details1</label>
                    <textarea id="text-input" name="Details_1" rows="4" value="{{ Assay.Details_1}}" class="form-control query"></textarea>
                  </div>
                <!-- </div>

                <div class="row form-group"> -->
                <div class="col-4">
                  <label for="text-input" class=" form-control-label">Details2</label>
                  <textarea id="text-input" name="Details_2" rows="4" value="{{ Assay.Details_2}}" class="form-control query"></textarea>
                </div>

                </div>




      <div class="col-6">
      <strong><h4>Summary</h4></strong>
      <button class="btn btn-secondary btn-sm" id="copyFromDetail">
        <i class="fa fa-lightbulb-o"></i> Copy from Details
      </button>
      <table class="table" id="summaryTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Quot. Unit Price</th>
                    <th scope="col">Quot. Value</th>
                    <th scope="col">Final Unit Price</th>
                    <th scope="col">Final Value</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Insert</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td contenteditable="">{{Assay.Supplier1}}</td>
                  <td contenteditable="">{{Assay.Supplier1_Qty}}</td>
                  <td contenteditable=""></td>
                  <td contenteditable=""></td>
                  <td contenteditable="">{{Assay.Supplier1_Final_Unit_Price}}</td>
                  <td contenteditable=""></td>
                  <td>Delete</td>
                  <td>Insert</td>

                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td contenteditable="">{{Assay.Supplier2}}</td>
                  <td contenteditable="">{{Assay.Supplier2_Qty}}</td>
                  <td contenteditable=""></td>
                  <td contenteditable=""></td>
                  <td contenteditable="">{{Assay.Supplier2_Final_Unit_Price}}</td>
                  <td contenteditable=""></td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td contenteditable="">{{Assay.Supplier3}}</td>
                  <td contenteditable="">{{Assay.Supplier3_Qty}}</td>
                  <td contenteditable=""></td>
                  <td contenteditable=""></td>
                  <td contenteditable="">{{Assay.Supplier3_Final_Unit_Price}}</td>
                  <td contenteditable=""></td>
                </tr>

                <tr>
                  <th scope="row">4</th>
                  <td contenteditable="">{{Assay.Supplier4}}</td>
                  <td contenteditable="">{{Assay.Supplier4_Qty}}</td>
                  <td contenteditable=""></td>
                  <td contenteditable=""></td>
                  <td contenteditable="">{{Assay.Supplier4_Final_Unit_Price}}</td>
                  <td contenteditable=""></td>
                </tr>

                <tr>
                  <th scope="row">5</th>
                  <td contenteditable="">{{Assay.Supplier5}}</td>
                  <td contenteditable="">{{Assay.Supplier5_Qty}}</td>
                  <td contenteditable=""></td>
                  <td contenteditable=""></td>
                  <td contenteditable="">{{Assay.Supplier5_Final_Unit_Price}}</td>
                  <td contenteditable=""></td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td contenteditable="">{{Assay.Supplier6}}</td>
                  <td contenteditable="">{{Assay.Supplier6_Qty}}</td>
                  <td contenteditable=""></td>
                  <td contenteditable=""></td>
                  <td contenteditable="">{{Assay.Supplier6_Final_Unit_Price}}</td>
                  <td contenteditable=""></td>
                </tr>
              </tbody>
      </table>




      {%include 'procurement/approvalPlan_detail.html' %}

</div>
<script src="{% static 'assets/js/scm/approvalPlan.js' %}"></script>
