{%load static %}
{% load mathfilters %}

<div class="card-body card-block">
        <div class="row">
            <div class="col-6">
                {% include 'procurement/approvalPlanDetail.html' %}
            </div>
            <div class="col-6">
                {% include 'procurement/approvalPlanTable.html' %}
            </div>
        </div>

        <strong><h4>Details</h4></strong>
        <div class="row">
            <div class="col-6">
                {% include 'procurement/approvalPlanDetailSupplier1.html' %}
                {% include 'procurement/approvalPlanDetailSupplier3.html' %}
                {% include 'procurement/approvalPlanDetailSupplier5.html' %}
            </div>
            <div class="col-6">
                {% include 'procurement/approvalPlanDetailSupplier2.html' %}
                {% include 'procurement/approvalPlanDetailSupplier4.html' %}
                {% include 'procurement/approvalPlanDetailSupplier6.html' %}
            </div>
        </div>
</div>
<script src="{% static 'assets/js/scm/approvalPlanDetail.js' %}"></script>
