
    <div class="row">
      <div class="col-3">
      <strong>Approval Plan</strong>
    </div>

    <div class="col-9">
    <div class="pull-right" >

          <label for="text-input" class=" form-control-label" >Category</label>
          <select class="form-control-sm" id="newDocOptions">
            <option>신규등록</option>
          </select>

          <select class="form-control-sm" id="changeDocOptions" hidden="">
            <option>설계변경</option>
            <option>공급사변경</option>
            <option>원부자재비용변경</option>
            <option>기타</option>
          </select>
        <!-- </div> -->
        <input type="radio" name="info1" id="radio_create" checked> <label for="radio_create">CREATE</label>
        <input type="radio" name="info1" id="radio_change" disabled> <label for="radio_change">CHANGE</label>
          <input list="SA_No"  id="assayNo">
          <datalist id="SA_No">
            {% for assay in assayList %}
                <option value=" {{ assay.SA_No }}">
            {% endfor %}
          </datalist>



        <button id="query" class="btn btn-secondary btn-sm" >
            <i class="fa  fa-search"></i>QUERY
        </button>
        <button type="button" class="btn btn-secondary btn-sm" id="save">
                <i class="fa  fa-save (alias)"></i>  SAVE
        </button>
        </div>
  </div>
</div>
