{%load static %}

            <div class="card">
              <div class="card-header detail" id="btnSupplierDetail1">
                <div class="row">
                  <strong>Supplier1  Detail</strong>
                </div>
              </div>
              <div class="card-body card-block"  id="suppierDetail1" hidden>
                <div class="row form-group">
                  <div class="col-3"><label for="text-input" class=" form-control-label"  >Quotation Info.2</label></div>
                  <div class="col-9">
                    <input type="radio" name="supplierRadio1" id="supplierSingle1"> <label for="supplierSingle1">Single</label>
                    <input type="radio" name="supplierRadio1" checked id="supplierMultiple1"> <label for="supplierMultiple1"> Multiple</label>


                    <select class="form-control-sm form-control" id="supplierSingleReason1" hidden>

                        <option>기존과 유사한 경우 또는 동일 특성의 제품의 경우 </option>
                        <option>고객 긴급 요청으로 인한 선진행의 경우</option>
                        <option>국내 독점 공급사 또는 사양이 지정된 경우</option>
                        <option>특정 인증을 요하는 제품 구매할 경우</option>
                        <option>고객사에서 공급사를 지정한 경우</option>
                        <option>공급사가 프로젝트 초기시점에 참여한 경우</option>
                        <option>소량 또는 소액의 경우(발주금액 10만원이하)</option>
                        <option>복수견적의뢰 하였으나 기간 내에 견적 회신이 없는 경우</option>
                        <option>연간 매입금액이 또는 프로젝트 관련하여 1회 매입금액이1,000만원 미만일 경우</option>

                    </select>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-3"><label for="text-input" class=" form-control-label">List-1[Fabricating, Goods]</label></div>
                  <div class="col-9"><input type="text" id="text-input" name="Details_2" class="form-control" value="{{Assay.Supplier1_Fabricating_Goods}}"></div>
                </div>
                <div class="row form-group">
                  <div class="col-3"><label for="text-input" class=" form-control-label">List-2 [Modification of free offered item]</label></div>
                  <div class="col-9">
                    <input type="text" id="text-input" name="Details_2" class="form-control" value="{{Assay.Supplier1_Modification_of_free_offerd_item}}">
                  </div>
                </div>



                  <table class="table" id="detailTable1">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Supplier Name</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Quot. Unit Price</th>
                                <th scope="col">Quot. Value</th>
                                <th scope="col">Final Unit Price</th>
                                <th scope="col">Final Value</th>
                                <th scope="col">Nego(%)</th>
                            </tr>
                          </thead>
                            <tbody id="supplier1">
                            <tr>
                              <th scope="row">1</th>
                              <td contenteditable="" class="supplier1">{{Assay.Supplier1}}</td>
                              <td contenteditable="" class="supplier1">{{Assay.Supplier1_Qty}}</td>
                              <td contenteditable="" class="supplier1" id="quot1Value"></td>
                              <td contenteditable="" class="supplier1"></td>
                              <td contenteditable="" class="supplier1" id="final1Value">{{Assay.Supplier1_Final_Unit_Price}}</td>
                              <td></td>
                              <td bgcolor="CCCCCC" id="nego1"></td>

                            </tr>

                          </tbody>
                  </table>
                </div>

              </div>

              <div class="card">
                <div class="card-header detail" id="btnSupplierDetail2">
                  <div class="row">
                    <strong>Supplier2  Detail</strong>
                  </div>
                </div>
                <div class="card-body card-block"  id="suppierDetail2" hidden>
                  <div class="row form-group">
                    <div class="col-3"><label for="text-input" class=" form-control-label"  >Quotation Info.2</label></div>
                    <div class="col-9">
                      <input type="radio" name="supplierRadio2" id="supplierSingle2"> <label for="supplierSingle2">Single</label>
                      <input type="radio" name="supplierRadio2" checked id="supplierMultiple2"> <label for="supplierMultiple2"> Multiple</label>


                      <select class="form-control-sm form-control" id="supplierSingleReason2" hidden>

                          <option>기존과 유사한 경우 또는 동일 특성의 제품의 경우 </option>
                          <option>고객 긴급 요청으로 인한 선진행의 경우</option>
                          <option>국내 독점 공급사 또는 사양이 지정된 경우</option>
                          <option>특정 인증을 요하는 제품 구매할 경우</option>
                          <option>고객사에서 공급사를 지정한 경우</option>
                          <option>공급사가 프로젝트 초기시점에 참여한 경우</option>
                          <option>소량 또는 소액의 경우(발주금액 10만원이하)</option>
                          <option>복수견적의뢰 하였으나 기간 내에 견적 회신이 없는 경우</option>
                          <option>연간 매입금액이 또는 프로젝트 관련하여 1회 매입금액이1,000만원 미만일 경우</option>

                      </select>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-3"><label for="text-input" class=" form-control-label">List-1[Fabricating, Goods]</label></div>
                    <div class="col-9"><input type="text" id="text-input" name="Details_2" class="form-control"></div>
                  </div>
                  <div class="row form-group">
                    <div class="col-3"><label for="text-input" class=" form-control-label">List-2 [Modification of free offered item]</label></div>
                    <div class="col-9">
                      <input type="text" id="text-input" name="Details_2" class="form-control">
                    </div>
                  </div>



                    <table class="table" id="detailTable2">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Supplier Name</th>
                                  <th scope="col">Qty</th>
                                  <th scope="col">Quot. Unit Price</th>
                                  <th scope="col">Quot. Value</th>
                                  <th scope="col">Final Unit Price</th>
                                  <th scope="col">Final Value</th>
                                  <th scope="col">Nego(%)</th>
                              </tr>
                            </thead>
                              <tbody id="supplier">
                              <tr>
                                <th scope="row">1</th>
                                <td contenteditable="">{{Assay.Supplier2}}</td>
                                <td contenteditable="">{{Assay.Supplier2_Qty}}</td>
                                <td contenteditable=""></td>
                                <td contenteditable=""></td>
                                <td contenteditable="">{{Assay.Supplier2_Final_Unit_Price}}</td>
                                <td contenteditable="" ></td>
                                <td bgcolor="CCCCCC"></td>
                              </tr>

                            </tbody>
                    </table>
                  </div>

                </div>
                <div class="card">
                  <div class="card-header detail" id="btnSupplierDetail3">
                    <div class="row">
                      <strong>Supplier3  Detail</strong>
                    </div>
                  </div>
                  <div class="card-body card-block"  id="suppierDetail3" hidden>
                    <div class="row form-group">
                      <div class="col-3"><label for="text-input" class=" form-control-label"  >Quotation Info.2</label></div>
                      <div class="col-9">
                        <input type="radio" name="supplierRadio3" id="supplierSingle3"> <label for="supplierSingle3">Single</label>
                        <input type="radio" name="supplierRadio3" checked id="supplierMultiple3"> <label for="supplierMultiple3"> Multiple</label>


                        <select class="form-control-sm form-control" id="supplierSingleReason3" hidden>

                            <option>기존과 유사한 경우 또는 동일 특성의 제품의 경우 </option>
                            <option>고객 긴급 요청으로 인한 선진행의 경우</option>
                            <option>국내 독점 공급사 또는 사양이 지정된 경우</option>
                            <option>특정 인증을 요하는 제품 구매할 경우</option>
                            <option>고객사에서 공급사를 지정한 경우</option>
                            <option>공급사가 프로젝트 초기시점에 참여한 경우</option>
                            <option>소량 또는 소액의 경우(발주금액 10만원이하)</option>
                            <option>복수견적의뢰 하였으나 기간 내에 견적 회신이 없는 경우</option>
                            <option>연간 매입금액이 또는 프로젝트 관련하여 1회 매입금액이1,000만원 미만일 경우</option>

                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-3"><label for="text-input" class=" form-control-label">List-1[Fabricating, Goods]</label></div>
                      <div class="col-9"><input type="text" id="text-input" name="Details_3" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                      <div class="col-3"><label for="text-input" class=" form-control-label">List-2 [Modification of free offered item]</label></div>
                      <div class="col-9">
                        <input type="text" id="text-input" name="Details_2" class="form-control">
                      </div>
                    </div>



                      <table class="table" id="detailTable3">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Supplier Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Quot. Unit Price</th>
                                    <th scope="col">Quot. Value</th>
                                    <th scope="col">Final Unit Price</th>
                                    <th scope="col">Final Value</th>
                                    <th scope="col">Nego(%)</th>
                                </tr>
                              </thead>
                                <tbody id="supplier">
                                <tr>
                                  <th scope="row">1</th>
                                  <td contenteditable="">{{Assay.Supplier3}}</td>
                                  <td contenteditable="">{{Assay.Supplier3_Qty}}</td>
                                  <td contenteditable=""></td>
                                  <td contenteditable=""></td>
                                  <td contenteditable="">{{Assay.Supplier3_Final_Unit_Price}}</td>
                                  <td></td>
                                  <td bgcolor="CCCCCC"></td>

                                </tr>

                              </tbody>
                      </table>
                    </div>

                  </div>








            <div class="card-footer">

                <button type="reset" class="btn btn-secondary btn-sm" id="disableToggle">
                  <i class="fa fa-lightbulb-o"></i> Query/Change
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" id="submit" hidden >
                        <i class="fa fa-dot-circle-o"></i>  Change/Save
                </button>
                <button type="reset" class="btn btn-danger btn-sm" id="reset" hidden="true">
                  <i class="fa fa-ban"></i> Reset
                </button>

            </div> <!-- card footer-->
        <script src="{% static 'assets/js/scm/approvalPlanDetail.js' %}"></script>
