<div class="row form-group">
  <div class="col-1"><label for="text-input" class=" form-control-label"  >SA</label></div>
  <div class="col-3">
    <input type="text" id="text-input" name="SA_No" value="{{ Assay.SA_No}}"  class="form-control">
  </div>
  <div class="col-1"><label for="text-input" class=" form-control-label">Delivery<br></label></div>
  <div class="col-3"><input type="text" id="text-input" name="Date"    value="{{ Assay.Date}}" class="form-control query"></div>
  <div class="col-1"><label for="text-input" class=" form-control-label">Suppliers#</label></div>
  <div class="col-3"><input type="text" id="Number_of_suppliers" name="Number_of_suppliers"   value="{{Assay.Number_of_suppliers}}"  class="form-control query"></div>


</div>
<div class="row form-group">
    <div class="col-1"><label for="text-input" class=" form-control-label">Type</label></div>
  <div class="col-11"><input type="text" id="text-input" name="Type"
    {% ifnotequal Assay.Type 'nan' %}
      value="{{ Assay.Type}}"
    {% endifnotequal %}
     class="form-control query">

 </div>
</div>
<div class="row form-group">
  <div class="col-1"><label for="text-input" class=" form-control-label">Details1</label></div>
  <div class="col-11"><input type="text" id="text-input" name="Details_1"
      {% ifnotequal Assay.Details_1 'nan' %}
        value="{{ Assay.Details_1}}"
      {% endifnotequal %}
     class="form-control query">
  </div>
</div>
<div class="row form-group">
  <div class="col-1"><label for="text-input" class=" form-control-label">Details2</label></div>
  <div class="col-11"><input type="text" id="text-input" name="Details_2"
      {% ifnotequal Assay.Details_2 'nan' %}
        value="{{ Assay.Details_2}}"
      {% endifnotequal %}
     class="form-control query">
  </div>
</div>
<div class="row form-group">
  <div class="col-1"><label for="text-input" class=" form-control-label"  >Description</label></div>
  <div class="col-11">
    <textarea name="Description" class="form-control" id="Description">{% ifnotequal Assay.Description 'None' %}{{Assay.Description}}{% endifnotequal %}</textarea>
  </div>
</div>
