{%load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% include "../subtemplate/head.html" %}
</head>
<body>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="col-md-2">
                <img src="{% static 'images/festologo.jpg' %}">
            </div>
            <div class="col-md-10">
            <div class="pull-right">
                {% if user.is_authenticated %}
                        Hi! {{ user.username }}
                        <i class="fa fa-user"></i><span class="badge"><a href="{% url 'logout' %}">logout</a></span>
                        {{ipAddress}}

                {%else%}
                    <i class="fa fa-user"></i><span class="badge"><a href="{% url 'login' %}">login</a></span>
                {% endif %}
            </div>
            </div>
                <div class="card">
                            <div class="card-body">
                                <div class="pull-right">
                                        {% include 'procurement/assayListHeader.html' %}
                                </div>
                                    <ul class="nav nav-tabs active" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" href="/" >List   </a>
                                        </li>
                                        {% ifequal request.user.username 'buyer' %}
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab"  href="/approvalPlan">Approval</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="changeLog" href="/changeLog">ChangeLog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="setting" href="/setting">Setting</a>
                                        </li>
                                        {% endifequal %}
                                    </ul>

                                <div class="tab-content pl-3 p-1" id="myTabContent">
                                    <div class="tab-pane fade  show active">
                                        <h3>List</h3>
                                        <p>Authorized to Buyer, Viewer1, and Viewer2 (Limited Authority) </p>
                                    </div>
                            </div>
                            <div class="col-md-12" id="result">
                                {% include 'procurement/assayListDetail.html' %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>









</body>
</html>

<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'assets/js/scm/assayList.js' %}"></script>

<!-- <script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script> -->
<!-- <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script> -->
