{%load static %}


<div class="row form-group">
  <div class="col-1"><label for="text-input" class=" form-control-label"  >SA No.</label></div>
  <div class="col-2">
    <input type="text" id="text-input" name="SA_No" value="{{ Assay.SA_No}}" disabled="True" class="form-control">
  </div>
  <div class="col col-md-1"><label for="text-input" class=" form-control-label">Type</label></div>
  <div class="col-2"><input type="text" id="text-input" name="Type"
    {% ifnotequal Assay.Type 'nan' %}
      value="{{ Assay.Type}}"
    {% endifnotequal %}
    disabled class="form-control query"></div>
  <div class="col-1"><label for="text-input" class=" form-control-label">Delivery Time<br>(5Working Days)</label></div>
  <div class="col-2"><input type="text" id="text-input" name="Date"  disabled="True" value="{{ Assay.Date}}"  class="form-control query"></div>

  <div class="col col-md-1"><label for="text-input" class=" form-control-label">Number of Suppliers</label></div>
  <div class="col-22 col-md-2"><input type="text" id="text-input" name="Number_of_suppliers" disabled="True" value="{{Assay.Number_of_suppliers}}" class="form-control query"></div>
</div>
<div class="row form-group">
  <div class="col-md-1"><label for="text-input" class=" form-control-label">Details1</label></div>
  <div class="col-md-11"><input type="text" id="text-input" name="Details_1" disabled="True"
      {% ifnotequal Assay.Details_1 'nan' %}
        value="{{ Assay.Details_1}}"
      {% endifnotequal %}
    placeholder="-" class="form-control query">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-1"><label for="text-input" class=" form-control-label">Details2</label></div>
  <div class="col-md-11"><input type="text" id="text-input" name="Details_2" disabled="True"
      {% ifnotequal Assay.Details_2 'nan' %}
        value="{{ Assay.Details_2}}"
      {% endifnotequal %}
    placeholder="-" class="form-control query">
  </div>
</div>


<table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Supplier Name</th>
    <th scope="col">Qty</th>
    <th scope="col">Unit Price</th>
    <th scope="col">List-1</th>
    <th scope="col">List-2</th>
</tr>
</thead>
<tbody id="supplier">
{% if Assay.Supplier1 %}
<tr>
  <th scope="row">1</th>
  <td>{{Assay.Supplier1}}</td>
  <td>{{Assay.Supplier1_Qty}}</td>
  <td>
      {%ifnotequal request.user.username 'viewer2'%}
        {{Assay.Supplier1_Final_Unit_Price}}
      {%endifnotequal%}
  </td>
  <td>{{Assay.Supplier1_Fabricating_Goods}}</td>
  <td>{{Assay.Supplier1_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

{% if Assay.Supplier2 %}
<tr>
  <th scope="row">2</th>
  <td>{{Assay.Supplier2}}</td>
  <td>{{Assay.Supplier2_Qty}}</td>
  <td>
      {%ifnotequal request.user.username 'viewer2'%}
        {{Assay.Supplier2_Final_Unit_Price}}
      {%endifnotequal%}
  </td>
  <td>{{Assay.Supplier2_Fabricating_Goods}}</td>
  <td>{{Assay.Supplier2_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

{% if Assay.Supplier3 %}
<tr>
  <th scope="row">3</th>
  <td>{{Assay.Supplier3}}</td>
  <td>{{Assay.Supplier3_Qty}}</td>
  <td>
      {%ifnotequal request.user.username 'viewer2'%}
        {{Assay.Supplier3_Final_Unit_Price}}
      {%endifnotequal%}
  </td>
  <td>{{Assay.Supplier3_Fabricating_Goods}}</td>
  <td>{{Assay.Supplier3_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

{% if Assay.Supplier4 %}
<tr>
  <th scope="row">4</th>
  <td>{{Assay.Supplier4}}</td>
  <td>{{Assay.Supplier4_Qty}}</td>
  <td>
      {%ifnotequal request.user.username 'viewer2'%}
        {{Assay.Supplier4_Final_Unit_Price}}
      {%endifnotequal%}
  </td>
  <td>{{Assay.Supplier4_Fabricating_Goods}}</td>
  <td>{{Assay.Supplier4_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

{% if Assay.Supplier5 %}
<tr>
  <th scope="row">5</th>
  <td>{{Assay.Supplier5}}</td>
  <td>{{Assay.Supplier5_Qty}}</td>
  <td>
      {%ifnotequal request.user.username 'viewer2'%}
        {{Assay.Supplier5_Final_Unit_Price}}
      {%endifnotequal%}
  </td>
  <td>{{Assay.Supplier5_Fabricating_Goods}}</td>
  <td>{{Assay.Supplier5_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

{% if Assay.Supplier6 %}
<tr>
  <th scope="row">6</th>
    <td>{{Assay.Supplier6}}</td>
    <td>{{Assay.Supplier6_Qty}}</td>
    <td>
        {%ifnotequal request.user.username 'viewer2'%}
          {{Assay.Supplier6_Final_Unit_Price}}
        {%endifnotequal%}
    </td>
    <td>{{Assay.Supplier6_Fabricating_Goods}}</td>
    <td>{{Assay.Supplier6_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

{% if Assay.Supplier7 %}
<tr>
  <th scope="row">7</th>
    <td>{{Assay.Supplier7}}</td>
    <td>{{Assay.Supplier7_Qty}}</td>
    <td>
        {%ifnotequal request.user.username 'viewer2'%}
          {{Assay.Supplier7_Final_Unit_Price}}
        {%endifnotequal%}
    </td>
    <td>{{Assay.Supplier7_Fabricating_Goods}}</td>
    <td>{{Assay.Supplier7_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}


{% if Assay.Supplier8 %}
<tr>
  <th scope="row">8</th>
    <td>{{Assay.Supplier8}}</td>
    <td>{{Assay.Supplier8_Qty}}</td>
    <td>
        {%ifnotequal request.user.username 'viewer2'%}
          {{Assay.Supplier8_Final_Unit_Price}}
        {%endifnotequal%}
    </td>
    <td>{{Assay.Supplier8_Fabricating_Goods}}</td>
    <td>{{Assay.Supplier8_Modification_of_free_offerd_item}}</td>
</tr>
{% endif %}

</tbody>
</table>

<!--
<button type="reset" class="btn btn-secondary btn-sm" id="disableToggle">
  <i class="fa fa-lightbulb-o"></i> Query/Change
</button>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" id="submit" hidden >
        <i class="fa fa-dot-circle-o"></i>  Change/Save
</button>

<button type="reset" class="btn btn-danger btn-sm" id="reset" hidden="true">
  <i class="fa fa-ban"></i> Reset
</button> -->


        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to change and save this?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save">Save changes</button>
              </div>
            </div>
          </div>
        </div>




<!--


<script>





$(document).ready(function(){
    console.log("java script called");

    $('#save').click(function(){
      console.log("save clicked");
      $.ajax({
        url:"updateQuery",
        type:"POST",
        data:{
          'csrfmiddlewaretoken': '{{csrf_token}}',
          'SA_No' : $("input[name='SA_No']").val(),
          'Type' : $("input[name='Type']").val(),
          'Date' : $("input[name='Date']").val(),
          'Number_of_suppliers' : $("input[name='Number_of_suppliers']").val(),
          'Details_1' : $("input[name='Details_1']").val(),
          'Details_2' : $("input[name='Details_2']").val(),
          'Supplier1'                                  :   $("input[name='Supplier1']").val(),
          'Supplier1_Qty'                              :   $("input[name='Supplier1_Qty']").val(),
          'Supplier1_Final_Unit_Price'                 :   $("input[name='Supplier1_Final_Unit_Price']").val(),
          'Supplier1_Fabricating_Goods'                :   $("input[name='Supplier1_Fabricating_Goods']").val(),
          'Supplier1_Modification_of_free_offerd_item' :   $("input[name='Supplier1_Modification_of_free_offerd_item']").val(),

          'Supplier2'                                  :   $("input[name='Supplier2']").val(),
          'Supplier2_Qty'                              :   $("input[name='Supplier2_Qty']").val(),
          'Supplier2_Final_Unit_Price'                 :   $("input[name='Supplier2_Final_Unit_Price']").val(),
          'Supplier2_Fabricating_Goods'                :   $("input[name='Supplier2_Fabricating_Goods']").val(),
          'Supplier2_Modification_of_free_offerd_item' :   $("input[name='Supplier2_Modification_of_free_offerd_item']").val(),

          'Supplier3'                                  :   $("input[name='Supplier3']").val(),
          'Supplier3_Qty'                              :   $("input[name='Supplier3_Qty']").val(),
          'Supplier3_Final_Unit_Price'                 :   $("input[name='Supplier3_Final_Unit_Price']").val(),
          'Supplier3_Fabricating_Goods'                :   $("input[name='Supplier3_Fabricating_Goods']").val(),
          'Supplier3_Modification_of_free_offerd_item' :   $("input[name='Supplier3_Modification_of_free_offerd_item']").val(),

          'Supplier4'                                  :   $("input[name='Supplier4']").val(),
          'Supplier4_Qty'                              :   $("input[name='Supplier4_Qty']").val(),
          'Supplier4_Final_Unit_Price'                 :   $("input[name='Supplier4_Final_Unit_Price']").val(),
          'Supplier4_Fabricating_Goods'                :   $("input[name='Supplier4_Fabricating_Goods']").val(),
          'Supplier4_Modification_of_free_offerd_item' :   $("input[name='Supplier4_Modification_of_free_offerd_item']").val(),

          'Supplier5'                                  :   $("input[name='Supplier5']").val(),
          'Supplier5_Qty'                              :   $("input[name='Supplier5_Qty']").val(),
          'Supplier5_Final_Unit_Price'                 :   $("input[name='Supplier5_Final_Unit_Price']").val(),
          'Supplier5_Fabricating_Goods'                :   $("input[name='Supplier5_Fabricating_Goods']").val(),
          'Supplier5_Modification_of_free_offerd_item' :   $("input[name='Supplier5_Modification_of_free_offerd_item']").val(),

          'Supplier6'                                  :   $("input[name='Supplier6']").val(),
          'Supplier6_Qty'                              :   $("input[name='Supplier6_Qty']").val(),
          'Supplier6_Final_Unit_Price'                 :   $("input[name='Supplier6_Final_Unit_Price']").val(),
          'Supplier6_Fabricating_Goods'                :   $("input[name='Supplier6_Fabricating_Goods']").val(),
          'Supplier6_Modification_of_free_offerd_item' :   $("input[name='Supplier6_Modification_of_free_offerd_item']").val(),


        }
      })
      console.log( $("input[name='Supplier6_Modification_of_free_offerd_item']").val());
      $('.form-control.query').prop("disabled", true)
      $('#submit').prop("hidden", true)
      $('#header').html(''+
      '<div class="sufee-alert alert with-close alert-secondary alert-dismissible fade show">'+
          '<span class="badge badge-pill badge-primary">Success</span>'+
              'Change has been successfully saved.'+
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
              '<span aria-hidden="true">&times;</span>'+
          '</button>'+
      '</div>'
      )
    })





    $('#disableToggle').click(function(){
      console.log("clicked query/Change")
      $('#header').html("");
      if($('.form-control.query').prop("disabled")==true){
        $('.form-control.query').prop("disabled", false)
        $('#submit').prop("hidden", false)
        supplierEditActivate()
      }
      else {
        $('.form-control.query').prop("disabled", true)
        $('#submit').prop("hidden", true)

      }


    })

    $('#check').click(function(){
      console.log("clicked//")
      var assayNo=$("#assayNo").val()
      console.log(assayNo);
      $.ajax({
          url : "assayQuery",
          type : "get",
          data: {
              'SA_No' : assayNo
          },
          async: false,
          success : function(data) {
              console.log("successfully communicated with Server");
              // console.log(data);
              $("#result").html(
                ""
              );
              $("#result").html(
                data
              );
          }
      }) //end of $.ajax
    });



});




function supplierEditActivate(){
  $("#supplier").replaceWith($(''+
      '<tbody id="supplier">'+
    ' <tr>'+
    '    <th scope="row">1</th>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier1"  value="{{Assay.Supplier1}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier1_Qty"  value="{{Assay.Supplier1_Qty}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier1_Final_Unit_Price" value="{{Assay.Supplier1_Final_Unit_Price}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier1_Fabricating_Goods" value="{{Assay.Supplier1_Fabricating_Goods}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier1_Modification_of_free_offerd_item" value="{{Assay.Supplier1_Modification_of_free_offerd_item}}"></td>'+
    ' </tr>'+

    ' <tr>'+
    '    <th scope="row">2</th>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier2"  value="{{Assay.Supplier2}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier2_Qty"  value="{{Assay.Supplier2_Qty}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier2_Final_Unit_Price" value="{{Assay.Supplier2_Final_Unit_Price}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier2_Fabricating_Goods" value="{{Assay.Supplier2_Fabricating_Goods}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier2_Modification_of_free_offerd_item" value="{{Assay.Supplier2_Modification_of_free_offerd_item}}"></td>'+
    ' </tr>'+

    ' <tr>'+
    '    <th scope="row">3</th>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier3"  value="{{Assay.Supplier3}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier3_Qty"  value="{{Assay.Supplier3_Qty}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier3_Final_Unit_Price" value="{{Assay.Supplier3_Final_Unit_Price}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier3_Fabricating_Goods" value="{{Assay.Supplier3_Fabricating_Goods}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier3_Modification_of_free_offerd_item" value="{{Assay.Supplier3_Modification_of_free_offerd_item}}"></td>'+
    ' </tr>'+

    ' <tr>'+
    '    <th scope="row">4</th>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier4"  value="{{Assay.Supplier4}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier4_Qty"  value="{{Assay.Supplier4_Qty}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier4_Final_Unit_Price" value="{{Assay.Supplier4_Final_Unit_Price}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier4_Fabricating_Goods" value="{{Assay.Supplier4_Fabricating_Goods}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier4_Modification_of_free_offerd_item" value="{{Assay.Supplier4_Modification_of_free_offerd_item}}"></td>'+
    ' </tr>'+

    ' <tr>'+
    '    <th scope="row">5</th>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier5"  value="{{Assay.Supplier5}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier5_Qty"  value="{{Assay.Supplier5_Qty}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier5_Final_Unit_Price" value="{{Assay.Supplier5_Final_Unit_Price}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier5_Fabricating_Goods" value="{{Assay.Supplier5_Fabricating_Goods}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier5_Modification_of_free_offerd_item" value="{{Assay.Supplier5_Modification_of_free_offerd_item}}"></td>'+
    ' </tr>'+

    ' <tr>'+
    '    <th scope="row">6</th>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier6"  value="{{Assay.Supplier6}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier6_Qty"  value="{{Assay.Supplier6_Qty}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier6_Final_Unit_Price" value="{{Assay.Supplier6_Final_Unit_Price}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier6_Fabricating_Goods" value="{{Assay.Supplier6_Fabricating_Goods}}"></td>'+
    '    <td><input class="form-control query" type="text" placeholder="" name="Supplier6_Modification_of_free_offerd_item" value="{{Assay.Supplier6_Modification_of_free_offerd_item}}"></td>'+
    ' </tr>'+
    '</tbody>'


  ));

}



function supplierEditDeactivate(){
  console.log("clicked//")
  var assayNo=$("input[name='SA_No']").val()
  console.log(assayNo);
  $.ajax({
      url : "assayQuery",
      type : "get",
      data: {
          'SA_No' : assayNo
      },
      // async: false,
      success : function(data) {
          console.log("successfully communicated with Server");
          // console.log(data);
          $("#result").html(
            ""
          );
          $("#result").html(
            data
          );
      }
  }) //end of $.ajax
  $("#supplier").replaceWith($(''+
          '  <tbody id="supplier">'+
          '  '+
          '    <tr>'+
          '      <th scope="row">1</th>'+
          '      <td>{{Assay.Supplier1}}</td>'+
          '      <td>{{Assay.Supplier1_Qty}}</td>'+
          '      <td>{{Assay.Supplier1_Final_Unit_Price}}</td>'+
          '      <td>{{Assay.Supplier1_Fabricating_Goods}}</td>'+
          '      <td>{{Assay.Supplier1_Modification_of_free_offerd_item}}</td>'+
          '    </tr>'+
          '  '+
          '    <tr>'+
          '      <th scope="row">2</th>'+
          '      <td>{{Assay.Supplier2}}</td>'+
          '      <td>{{Assay.Supplier2_Qty}}</td>'+
          '      <td>{{Assay.Supplier2_Final_Unit_Price}}</td>'+
          '      <td>{{Assay.Supplier2_Fabricating_Goods}}</td>'+
          '      <td>{{Assay.Supplier2_Modification_of_free_offerd_item}}</td>'+
          '    </tr>'+
          '  '+
          '  '+
          '    <tr>'+
          '      <th scope="row">3</th>'+
          '      <td>{{Assay.Supplier3}}</td>'+
          '      <td>{{Assay.Supplier3_Qty}}</td>'+
          '      <td>{{Assay.Supplier3_Final_Unit_Price}}</td>'+
          '      <td>{{Assay.Supplier3_Fabricating_Goods}}</td>'+
          '      <td>{{Assay.Supplier3_Modification_of_free_offerd_item}}</td>'+
          '    </tr>'+
          '    '+
          '    <tr>'+
          '      <th scope="row">4</th>'+
          '      <td>{{Assay.Supplier4}}</td>'+
          '      <td>{{Assay.Supplier4_Qty}}</td>'+
          '      <td>{{Assay.Supplier4_Final_Unit_Price}}</td>'+
          '      <td>{{Assay.Supplier4_Fabricating_Goods}}</td>'+
          '      <td>{{Assay.Supplier4_Modification_of_free_offerd_item}}</td>'+
          '    </tr>'+
          '    '+
          '    <tr>'+
          '      <th scope="row">5</th>'+
          '      <td>{{Assay.Supplier5}}</td>'+
          '      <td>{{Assay.Supplier5_Qty}}</td>'+
          '      <td>{{Assay.Supplier5_Final_Unit_Price}}</td>'+
          '      <td>{{Assay.Supplier5_Fabricating_Goods}}</td>'+
          '      <td>{{Assay.Supplier5_Modification_of_free_offerd_item}}</td>'+
          '    </tr>'+
          '    '+

          '    '+
          '    <tr>'+
          '      <th scope="row">6</th>'+
          '        <td>{{Assay.Supplier6}}</td>'+
          '        <td>{{Assay.Supplier6_Qty}}</td>'+
          '        <td>{{Assay.Supplier6_Final_Unit_Price}}</td>'+
          '        <td>{{Assay.Supplier6_Fabricating_Goods}}</td>'+
          '        <td>{{Assay.Supplier6_Modification_of_free_offerd_item}}</td>'+
          '    </tr>'+
          '    '+
          '  </tbody>'
  ))
}



</script> -->
