{%load static %}
<head>
    {% include "../subtemplate/head.html" %}
    {% include "procurement/leftPanel.html" %}
</head>
<style>
tfoot {
     display: table-header-group;
}
</style>
<body>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                                <strong>Change</strong> Log

                        </div>
                        <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>SA_No</th>
                                        <th>DateTime</th>
                                        <th>User</th>
                                        <th>Field</th>
                                        <th>Before</th>
                                        <th>After</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <th>SA_No</th>
                                    <th>DateTime</th>
                                    <th>User</th>
                                    <th>Field</th>
                                    <th>Before</th>
                                    <th>After</th>
                                </tfoot>
                                <tbody>
                                    {% for change in changeLog %}
                                    <tr>
                                        <td>{{change.SA_No}}</td>
                                        <td>{{change.DateTime}}</td>
                                        <td>{{change.User}}</td>
                                        <td>{{change.Field}}</td>
                                        <td>{{change.Before}}</td>
                                        <td>{{change.After}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>


                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script>
