{% load static %}

        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{% static 'images/festologo.jpg' %}"> </a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png' %}" ></a>
                {% if user.is_authenticated %}
                    <p>Hi {{ user.username }}
                        <i class="fa fa-user"></i><span class="badge"><a href="{% url 'logout' %}">logout</a></span>
                        {{ipAddress}}
                    </p>
                {%else%}
                <p>
                    <i class="fa fa-user"></i><span class="badge"><a href="{% url 'login' %}">login</a></span>
                </p>

                {% endif %}


            </div>


            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">FESTO Korea_SCM </h3><!-- /.menu-title -->
                    <li class="active">
                        <a href="/list"> <i class="menu-icon fa fa-th-list"></i>List </a>
                    </li>
                    {% ifequal request.user.username "buyer" %}
                    <li class="active">
                        <a href="/"> <i class="menu-icon fa  fa-file-o"></i>Approval </a>
                    </li>
                    <li class="active">
                        <a href="/changeLog"> <i class="menu-icon fa fa-eraser"></i>ChangeLog </a>
                    </li>
                    <li class="active">
                        <a href="/setting"> <i class="menu-icon fa fa-cog"></i>Setting </a>
                    </li>
                    {% endifequal %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->
