{%load static %}
<head>
    {% include "../subtemplate/head.html" %}
    {% include "procurement/leftPanel.html" %}
</head>
<style>
tfoot {
     display: table-header-group;
}
</style>
<body>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                                <strong>Setting</strong> Master File

                        </div>

                    <div class="card-body">
                            <p><a href="{% url 'export_data_xls' %}">Export all DATA</a></p>
                            <p><a href="{% url 'export_log_xls' %}">Export all ChangeLog</a></p>
                        </div>
                        <!-- <div class="card-body">
                            <p>Import Excel Data</p>
                                                    <form method="post" enctype="multipart/form-data">
                                                       {% csrf_token %}
                                                       <input type="file" name="myfile">
                                                       <button type="submit">Upload</button>
                                                     </form>

                                                    </div>
                    </div> -->




                            <!-- <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>SA_No</th>
                                        <th>Date</th>
                                        <th>Number_of_suppliers</th>
                                        <th>Type</th>
                                        <th>Details_1</th>
                                        <th>Details_2</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Updated_date </th>
                                        <th>Supplier1</th>
                                        <th>Supplier1_Fabricating_Goods</th>
                                        <th>Supplier1_Modification_of_free_offerd_item</th>
                                        <th>Supplier1_Qty</th>
                                        <th>Supplier1_Final_Unit_Price</th>
                                        <th>Supplier2</th>
                                        <th>Supplier2_Fabricating_Goods</th>
                                        <th>Supplier2_Modification_of_free_offerd_item</th>
                                        <th>Supplier2_Qty</th>
                                        <th>Supplier2_Final_Unit_Price </th>
                                        <th>Supplier3</th>
                                        <th>Supplier3_Fabricating_Goods</th>
                                        <th>Supplier3_Modification_of_free_offerd_item</th>
                                        <th>Supplier3_Qty</th>
                                        <th>Supplier3_Final_Unit_Price  </th>
                                        <th>Supplier4</th>
                                        <th>Supplier4_Fabricating_Goods</th>
                                        <th>Supplier4_Modification_of_free_offerd_item</th>
                                        <th>Supplier4_Qty</th>
                                        <th>Supplier4_Final_Unit_Price  </th>
                                        <th>Supplier5</th>
                                        <th>Supplier5_Fabricating_Goods</th>
                                        <th>Supplier5_Modification_of_free_offerd_item</th>
                                        <th>Supplier5_Qty</th>
                                        <th>Supplier5_Final_Unit_Price </th>
                                        <th>Supplier6</th>
                                        <th>Supplier6_Fabricating_Goods</th>
                                        <th>Supplier6_Modification_of_free_offerd_item</th>
                                        <th>Supplier6_Qty</th>
                                        <th>Supplier6_Final_Unit_Price</th>
                                        <th>Supplier7</th>
                                        <th>Supplier7_Fabricating_Goods</th>
                                        <th>Supplier7_Modification_of_free_offerd_item</th>
                                        <th>Supplier7_Qty</th>
                                        <th>Supplier7_Final_Unit_Price</th>
                                        <th>Supplier8</th>
                                        <th>Supplier8_Fabricating_Goods</th>
                                        <th>Supplier8_Modification_of_free_offerd_item</th>
                                        <th>Supplier8_Qty</th>
                                        <th>Supplier8_Final_Unit_Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <th>SA_No</th>
                                    <th>Date</th>
                                    <th>Number_of_suppliers</th>
                                    <th>Type</th>
                                    <th>Details_1</th>
                                    <th>Details_2</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Updated_date </th>
                                    <th>Supplier1</th>
                                    <th>Supplier1_Fabricating_Goods</th>
                                    <th>Supplier1_Modification_of_free_offerd_item</th>
                                    <th>Supplier1_Qty</th>
                                    <th>Supplier1_Final_Unit_Price</th>
                                    <th>Supplier2</th>
                                    <th>Supplier2_Fabricating_Goods</th>
                                    <th>Supplier2_Modification_of_free_offerd_item</th>
                                    <th>Supplier2_Qty</th>
                                    <th>Supplier2_Final_Unit_Price </th>
                                    <th>Supplier3</th>
                                    <th>Supplier3_Fabricating_Goods</th>
                                    <th>Supplier3_Modification_of_free_offerd_item</th>
                                    <th>Supplier3_Qty</th>
                                    <th>Supplier3_Final_Unit_Price  </th>
                                    <th>Supplier4</th>
                                    <th>Supplier4_Fabricating_Goods</th>
                                    <th>Supplier4_Modification_of_free_offerd_item</th>
                                    <th>Supplier4_Qty</th>
                                    <th>Supplier4_Final_Unit_Price  </th>
                                    <th>Supplier5</th>
                                    <th>Supplier5_Fabricating_Goods</th>
                                    <th>Supplier5_Modification_of_free_offerd_item</th>
                                    <th>Supplier5_Qty</th>
                                    <th>Supplier5_Final_Unit_Price </th>
                                    <th>Supplier6</th>
                                    <th>Supplier6_Fabricating_Goods</th>
                                    <th>Supplier6_Modification_of_free_offerd_item</th>
                                    <th>Supplier6_Qty</th>
                                    <th>Supplier6_Final_Unit_Price</th>
                                    <th>Supplier7</th>
                                    <th>Supplier7_Fabricating_Goods</th>
                                    <th>Supplier7_Modification_of_free_offerd_item</th>
                                    <th>Supplier7_Qty</th>
                                    <th>Supplier7_Final_Unit_Price</th>
                                    <th>Supplier8</th>
                                    <th>Supplier8_Fabricating_Goods</th>
                                    <th>Supplier8_Modification_of_free_offerd_item</th>
                                    <th>Supplier8_Qty</th>
                                    <th>Supplier8_Final_Unit_Price</th>
                                </tfoot>
                                <tbody>
                                    {#% for assay in assayList %#}
                                    <tr>
                                        <td>{{assay.SA_No}}</td>
                                        <td>{{assay.Date}}</td>
                                        <td>{{assay.Number_of_suppliers}}</td>
                                        <td>{{assay.Type}}</td>
                                        <td>{{assay.Details_1}}</td>
                                        <td>{{assay.Details_2}}</td>
                                        <td>{{assay.Description}}</td>
                                        <td>{{assay.Category}}</td>
                                        <td>{{assay.Updated_date }}</td>
                                        <td>{{assay.Supplier1}}</td>
                                        <td>{{assay.Supplier1_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier1_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier1_Qty}}</td>
                                        <td>{{assay.Supplier1_Final_Unit_Price}}</td>
                                        <td>{{assay.Supplier2}}</td>
                                        <td>{{assay.Supplier2_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier2_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier2_Qty}}</td>
                                        <td>{{assay.Supplier2_Final_Unit_Price }}</td>
                                        <td>{{assay.Supplier3}}</td>
                                        <td>{{assay.Supplier3_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier3_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier3_Qty}}</td>
                                        <td>{{assay.Supplier3_Final_Unit_Price  }}</td>
                                        <td>{{assay.Supplier4}}</td>
                                        <td>{{assay.Supplier4_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier4_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier4_Qty}}</td>
                                        <td>{{assay.Supplier4_Final_Unit_Price  }}</td>
                                        <td>{{assay.Supplier5}}</td>
                                        <td>{{assay.Supplier5_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier5_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier5_Qty}}</td>
                                        <td>{{assay.Supplier5_Final_Unit_Price }}</td>
                                        <td>{{assay.Supplier6}}</td>
                                        <td>{{assay.Supplier6_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier6_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier6_Qty}}</td>
                                        <td>{{assay.Supplier6_Final_Unit_Price}}</td>
                                        <td>{{assay.Supplier7}}</td>
                                        <td>{{assay.Supplier7_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier7_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier7_Qty}}</td>
                                        <td>{{assay.Supplier7_Final_Unit_Price}}</td>
                                        <td>{{assay.Supplier8}}</td>
                                        <td>{{assay.Supplier8_Fabricating_Goods}}</td>
                                        <td>{{assay.Supplier8_Modification_of_free_offerd_item}}</td>
                                        <td>{{assay.Supplier8_Qty}}</td>
                                        <td>{{assay.Supplier8_Final_Unit_Price}}</td>
                                    </tr>
                                    {#% endfor %#}
                                </tbody>


                          </table> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>

<!-- <script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script> -->
