{%load static %}




      <div class="card">
        <div class="card-header">
          <strong>Inquiry</strong> View
        </div>


                <div class="card-body card-block">
                  <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->


                        <div class="row form-group">
                          <div class="col-3"><label for="text-input" class=" form-control-label"  >SA No.</label></div>
                          <div class="col-4">
                            <input type="text" id="text-input" name="text-input" value="{{ Assay.SA_No}}" disabled="True" placeholder="Text" class="form-control">
                          </div>
                          <!-- <div class="col-6 col-md-3"><input type="text" id="text-input" name="text-input" value="{{ Assay.SA_No}}" placeholder="Text" class="form-control"></div> -->
                            <!-- <div class="col-3 col-md-3"> -->
                              <div class="col-5">
                              <!-- <form action="/scm" method="get"> -->
                                  <input list="SA_No" name="SA_No" id="assayNo">
                                  <datalist id="SA_No">
                                    {% for assay in assayList %}
                                        <option value=" {{ assay.SA_No }}">
                                    {% endfor %}
                                  </datalist>
                                  <button id="check" > Check </button>
                                  <!-- <input type="submit" value="Query"> -->

                              <!-- </form> -->

                            </div>
                              <!-- <input type="text" id="text-input" name="text-input" value="{{ Assay.SA_No}}" placeholder="Text" class="form-control"> -->
                            <!-- </div> -->




                        </div>


                        <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">Type</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" value="{{ Assay.Type}}" disabled placeholder="Text" class="form-control"></div>
                        </div>




                        <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">Delivery Time<br>(5Working Days)</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input"  disabled="True" value="{{ Assay.Date}}" placeholder="Text" class="form-control"></div>
                        </div>
                        <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">Number of Suppliers</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" disabled="True" value="{{Assay.Number_of_suppliers}}" placeholder="Text" class="form-control"></div>
                        </div>

                        <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">Details1</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" disabled="True" value="{{Assay.Details_1}}" placeholder="Text" class="form-control"></div>
                        </div>
                      <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Details2</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" disabled="True" value="{{Assay.Details_2}}" placeholder="Text" class="form-control"></div>
                      </div>




                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Supplier Name</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">List-1</th>
                            <th scope="col">List-2</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>{{Assay.Supplier1}}</td>
                        <td>{{Assay.Supplier1_Qty}}</td>
                        <td>{{Assay.Supplier1_Final_Unit_Price}}</td>
                        <td>{{Assay.Supplier1_Fabricating_Goods}}</td>
                        <td>{{Assay.Supplier1_Modification_of_free_offerd_item}}</td>

                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>{{Assay.Supplier2}}</td>
                        <td>{{Assay.Supplier2_Qty}}</td>
                        <td>{{Assay.Supplier2_Final_Unit_Price}}</td>
                        <td>{{Assay.Supplier2_Fabricating_Goods}}</td>
                        <td>{{Assay.Supplier2_Modification_of_free_offerd_item}}</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>{{Assay.Supplier3}}</td>
                        <td>{{Assay.Supplier3_Qty}}</td>
                        <td>{{Assay.Supplier3_Final_Unit_Price}}</td>
                        <td>{{Assay.Supplier3_Fabricating_Goods}}</td>
                        <td>{{Assay.Supplier3_Modification_of_free_offerd_item}}</td>
                      </tr>

                      <tr>
                        <th scope="row">4</th>
                        <td>{{Assay.Supplier4}}</td>
                        <td>{{Assay.Supplier4_Qty}}</td>
                        <td>{{Assay.Supplier4_Final_Unit_Price}}</td>
                        <td>{{Assay.Supplier4_Fabricating_Goods}}</td>
                        <td>{{Assay.Supplier4_Modification_of_free_offerd_item}}</td>
                      </tr>

                      <tr>
                        <th scope="row">5</th>
                        <td>{{Assay.Supplier5}}</td>
                        <td>{{Assay.Supplier5_Qty}}</td>
                        <td>{{Assay.Supplier5_Final_Unit_Price}}</td>
                        <td>{{Assay.Supplier5_Fabricating_Goods}}</td>
                        <td>{{Assay.Supplier5_Modification_of_free_offerd_item}}</td>
                      </tr>

                      <tr>
                        <th scope="row">6</th>
                        <td>{{Assay.Supplier6}}</td>
                        <td>{{Assay.Supplier6_Qty}}</td>
                        <td>{{Assay.Supplier6_Final_Unit_Price}}</td>
                        <td>{{Assay.Supplier6_Fabricating_Goods}}</td>
                        <td>{{Assay.Supplier6_Modification_of_free_offerd_item}}</td>
                      </tr>



                      </tbody>
                      </table>



          </div> <!-- card body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
              <i class="fa fa-ban"></i> Reset
            </button>
          </div> <!-- card footer-->
        </div> <!-- card -->
        <script>
        $(document).ready(function(){
            console.log("java script called");

            $('#check').click(function(){
              console.log("clicked//")
              var assayNo=$("#assayNo").val()
              console.log(assayNo);
              $.ajax({
                  url : "assayQuery",
                  type : "get",
                  data: {
                      'SA_No' : assayNo
                  },
                  async: false,
                  success : function(data) {
                      console.log("successfully communicated with Server");
                      // console.log(data);
                      $("#result").html(
                        ""
                      );
                      $("#result").html(
                        data
                      );
                  }
              }) //end of $.ajax
            });
        });
        </script>
